annotated-doc>=0.0.4
annotated-types>=0.7.0
anyio>=4.13.0
blinker>=1.9.0
cachetools>=6.2.6
certifi>=2025.8.3
cffi>=2.0.0
charset-normalizer>=3.4.3
click>=8.3.2
colorama>=0.4.6
cryptography>=43.0.3
deprecation>=2.1.0
dynaconf>=3.2.11
fastapi>=0.128.8
flask>=2.3.2
fsspec>=2026.4.0
h11>=0.16.0
h2>=4.3.0
hpack>=4.1.0
httpcore>=1.0.9
httpx>=0.28.1
hyperframe>=6.1.0
idna>=3.10
itsdangerous>=2.2.0
Jinja2>=3.1.6
jwcrypto>=1.5.6
markdown-it-py>=4.0.0
MarkupSafe>=3.0.3
mdurl>=0.1.2
mmh3>=5.2.1
mosip-auth-sdk @ git+https://github.com/mosip/ida-auth-sdk.git@f322c59868123c2ef9410b5a3fecfd5dcdfd56af
numpy>=2.2.6
opencv-python>=4.12.0.88
passlib>=1.7.4
pycparser>=2.23
pydantic>=2.12.5
pydantic_core>=2.41.5
Pygments>=2.20.0
pyiceberg>=0.11.1
PyJWT>=2.12.1
pyparsing>=3.3.2
pyroaring>=1.1.0
python-dateutil>=2.9.0.post0
python-dotenv>=1.2.2
realtime>=2.29.0
requests>=2.32.5
rich>=14.3.4
six>=1.17.0
starlette>=1.0.0
storage3>=2.29.0
StrEnum>=0.4.15
strictyaml>=1.7.3
supabase>=2.29.0
supabase-auth>=2.29.0
supabase-functions>=2.29.0
tenacity>=9.1.4
typing-inspection>=0.4.2
typing_extensions>=4.15.0
urllib3>=2.5.0